/* Stildefinition für numerische Eingabefelder */
input[type=number] {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  font-family: inherit;
  font-size: inherit;
}

/* Flexbox-Container zur Ausrichtung der Elemente */
.flex-container {
  display: flex;
  align-items: center;
}

/* Stil für das erste Element im Flex-Container */
.flex-item-1 {
  padding-top: 10px;
}

/* Stil für das zweite Element im Flex-Container */
.flex-item-2 {
  padding-top: 10px;
  margin-inline-start: 10px;
}

/* Stil für das Element mit der ID "B_BerechnungStarten" */
#B_BerechnungStarten {
  margin-left: 10px;
}
