<div class="card flex justify-content-center " style="float: left;width: 50%;">

    <p-card header="K-Means Clustering">

        <p class="m-0">
            Auf dieser Seite hast du die Möglichkeit, ein K-Means Clustering deiner Daten durchzuführen.<br>
            Lade dazu über den Upload-Button eine CSV oder XLSX Datei hoch.
        </p>


        <p-toast></p-toast>
        <!--Die URL muss ersetzt werden durch die URL an die die hochgeladene Datei gesendet werden soll im Backend oder bei uns.-->
        <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" [fileLimit]="1" (onUpload)="onUpload($event)"
            [multiple]="true" accept="image/png, text/csv, application/json, application/vnd.ms-excel">

            <ng-template pTemplate="content">
                <div class="py-3"><br>Drag & Drop oder Datei auswählen</div>
                <ul *ngIf="uploadedFiles.length">
                    <div class="py-4"><br>Upload Historie:</div>
                    <br>
                    <li *ngFor="let file of uploadedFilesData">{{ file.name }} - {{ file.size }} bytes</li>
                    <br>
                    <p-button (onClick)="onClickHistory()" label="Historie löschen" icon="pi pi-times"
                    styleClass="p-button-rounded p-button-danger" ></p-button>
                </ul>
            </ng-template>
        </p-fileUpload>

        <br>
        <p class="m-1">
            Bitte wähle eine Normalisierungs-Methode.
        </p>
        <div class="card flex justify-content-center">
            <p-dropdown [options]="normalisierung" [(ngModel)]="selectedNorm" optionLabel="name"
                placeholder="Bitte auswählen"></p-dropdown>
        </div>


        <br>
        <p class="m-2">
            Bitte wähle eine deinen Wert für K.
        </p>
        <div class="flex-auto">
            <label class="mb-2 block font-bold" for="minmax-buttons"></label>
            <p-inputNumber [(ngModel)]="kvalue" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="1" placeholder="K = 5"> </p-inputNumber>
        </div>

        <br>
        <p class="m-1">
            Bitte wähle eine Distanz-Matrix.
        </p>
        
        <div class="card flex justify-content-center">
        
                <p-selectButton [options]="selectedDistanz" [(ngModel)]="distanz" optionLabel="label" optionValue="value"></p-selectButton>
            
        </div>
        
        <br>
        <p-button (onClick)="onClickPush()" label="Berechnung starten..." icon="pi pi-telegram"
            styleClass="p-button-raised p-button-help" [disabled]="berechnungOnOff"></p-button>
    </p-card>
    

</div>