<div class="visual"></div>
<h3>
    Dies ist der Visualisierungsbereich.
    <br>
    Hier werden die ausgewählten Daten über das gewählte Mittel mit dem gewählten Visual dargestellt.
</h3>
<div id="Balkendiagramm">
    <svg class="chart" width="450" height="300" aria-labelledby="chartinfo" viewBox="0 0 450 300">
        <desc id="chartinfo">Ein Diagramm unserer Ernte</desc>
    
        <g class="bar purple" tabindex="0">
            <rect width="40" height="45" />
            <text x="55" y="40">4 Pflaumen</text>
        </g>
        <g class="bar green" tabindex="0">
            <rect width="80" height="45" y="50"/>
            <text x="95" y="90">8 Kiwis</text>
        </g>
        <g class="bar yellow" tabindex="0">
            <rect width="150" height="45" y="100" />
            <text x="160" y="140">15 Zitronen</text>
        </g>
        <g class="bar orange" tabindex="0">
            <rect width="160" height="45" y="150" />
            <text x="170" y="190">16 Orangen</text>
        </g>
        <g class="bar red" tabindex="0">
            <rect width="230" height="45" y="200" />
            <text x="245" y="240">23 Äpfel</text>
        </g>
    </svg>
</div>