<div class="card flex justify-content-center " style="float: left;width: 50%;">
    <p-card header="Ergebnis">
        <div #chartContainer>
            <p class="m-0">
            <p-chart id="mychart" type="line" [data]="data" [options]="options"></p-chart>
            <br>
            
            </p>
        </div>
        <br>
        
        <p-button label="Download Diagramm" styleClass="p-button-rounded p-button-secondary p-button-raised"
        icon="pi pi-download" (onClick)="downloadChart()"></p-button>
    </p-card>