<div class="data">
<br>
<h3>
    Dies ist der Bereich für Datenauswahl.
</h3>
<br>
<hr>
<h4>
    Hier lassen sich die relevanten Daten auswählen <br>
    Datentyp 1 <input type="checkbox" id="data1" name="data1" value="data"> <br>
    Datentyp 2 <input type="checkbox" id="data2" name="data2" value="data">
</h4>
<hr>
<h4>
    Hier lässt sich das zu verwendende Mittel auswählen <br>
    K-Means <input type="checkbox" id="mittel1" name="mittel1" value="mittel"> <br>
    Entscheidungsbaum <input type="checkbox" id="mittel2" name="mittel2" value="mittel">
</h4>
</div>