<div class="data">
<br>
<h3>
    Dies ist der Bereich für Datenauswahl.
</h3>
<br>
<hr>
<h4>
    Hier lassen sich die relevanten Daten auswählen <br>
    Datentyp 1 <input type="checkbox" id="data1" name="data1" value="data"> <br>
    Datentyp 2 <input type="checkbox" id="data2" name="data2" value="data">
</h4>
<hr>
<h4>
    Hier lässt sich das zu verwendende Mittel auswählen <br>
    Mittel 1 <input type="checkbox" id="mittel1" name="mittel1" value="mittel"> <br>
    Mittel 2 <input type="checkbox" id="mittel2" name="mittel2" value="mittel">
</h4>
<hr>
<h4>
    Hier lässt sich die zu veranschaulichende Grafik auswählen <br>
    Balkendiagramm <input type="checkbox" id="Balkendiagramm" name="vis1" value="vis"> <br>
    Graph <input type="checkbox" id="Graph" name="vis2" value="vis">
</h4>
</div>